<div id="viewer{{widget.name}}" style="width:80%; padding: 0px 20px;"></div>

<script>
  let textarea = document.querySelector('#id_{{widget.name}}');
  let content = textarea.value;
  textarea.style.display = 'none';

  const viewer = new toastui.Editor({
    el: document.querySelector('#viewer{{ widget.name }}'),
    initialValue: content,
    height: '800px',
    language: 'zh-CN',
    hooks: {
      addImageBlobHook: async (blob, callback) => {
        const sendData = new FormData();
        sendData.append('mdimg', blob);

        try {
          const response = await fetch('', {
            method: 'POST',
            body: sendData,
          });
          const result = await response.json();
          callback(result.url, result.text);
        } catch (error) {
          console.log(error);
        }
      },
    },
    events: {
      change: function () {
        textarea.value = viewer.getMarkdown();
      },
    },
  });
</script>
